body {
    font-family: Arial, Helvetica, sans-serif;
}

.check {
    background: url("d:/www/erz2/resources/checkmark-24-16.png") no-repeat center;
}

.checkbox {
    font-size: 5pt;
    width: 12pt;
    height: 12pt;
    border: 1pt solid black;
}